/* Para este ejercicio vas a crear en el archivo HTML:
Un párrafo.
Un párrafo con la class miparrafo.
Un párrafo dentro de un contenedor div.
Un párrafo dentro de un contenedor div con la clase miparrafo. Mediante el uso de CSS aplica a cada uno un color de letra distinto */
p{
    color: #4b0303;
}
.miparrafo {
  color: #4238ab;
}
.contenedor .miparrafo{
    color: #65766a;
    background-color: rgb(233, 137, 137);
}
